<h1> Create New Post </h1>

<%= form_for @post do |f| %>
    <%=f.label :title %>
    <%= f.text_field :title %>
    <%=f.label :content %>
    <%= f.text_area :content %>
    <%= f.collection_select :blogger_id, Blogger.all, :id, :name %>
    <%= f.collection_select :destination_id, Destination.all, :id, :name%>
    <%= f.submit "Submit Post " %>
<% end %>
